
<% if user_signed_in? %>
  <div class="profile">
    <div class="row">
      <% @users.each do |user| %>
        <%= render partial: "profiles/profile", locals: {profile: user.profile, link_name: "Send Message", path: new_message_path(user)} %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Login and prepare to do some language exchange!</p>
<% end %>