<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#sent" data-toggle="tab">Sent</a></li>
  <li><a href="#received" data-toggle="tab">Received</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="sent">
    <% @messages_sent.each do |message| %>
      <div class="panel panel-default">
        <div class="panel-heading">To: <%= message.recipient.blank? ? "" : message.recipient.name %></div>
        <div class="panel-body">
          <%= message.content %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="received">
    <% @messages_received.each do |message| %>
      <div class="panel panel-default">
        <div class="panel-heading">From: <%= message.recipient.blank? ? "" : message.sender.name %></div>
        <div class="panel-body">
          <%= message.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
